.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none; 
    /* display: block;
    디스플레이를 보여주고 싶을 떄
    */
}

/* 06-01. ClassList 에서 추가함 */
/* css 파일은 하단에 적을수록 우선적용 */
.list-groups{
    display : none;
}

.show {
    display : block;
}

/* 07-03. JQuery_Practice 에서 추가함 */
.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    display : none;
  }

  .switch-modal {
    display : block;
}
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 


